<h1>Friends lists go here!</h1>

<% friends.forEach(function(friend){ %>
    <li><%= friend %></li>
<% }) %>

<form action="/addFriend" method="POST">
    <input type="text" name="newfriend" placeholder="name">
    <button>I made a new Friend</button>
</form>